* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #14213d;
    background: white;
}

/* HEAD */
header {
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
}


.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 7%;
    background: #101c3b;
    position: sticky;
    top: 0;
    z-index: 1000;
    gap: 35px;
}


.logo {
    color: white;
    font-size: 27px;
    font-weight: 800;
    margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 70px;
}

nav a {
    text-decoration: none;
    color: #b9bfd0;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 17px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    color: white;
}


nav a.active {
    background: white;
    color: #18233f;
}


.get-started {
    text-decoration: none;
    background: #2475e8;
    color: white;
    padding: 12px 22px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.get-started:hover {
    background: #155dcc;
}


.hero {
    height: 270px;
    background: linear-gradient(
        135deg,
        #101d40,
        #18274d
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}


.hero h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}


.breadcrumb {
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #c8cfdf;
}


.breadcrumb .blue {
    color: #3182ed;
}