* {
  margin: 0%;
  padding: 0%;
}
 
#outer{
    /* border: 1px solid black; */
    display: flex;
    height: 200px;
    
    
    /* gap: 50px; */
    /* justify-content: center;
    justify-content: space-between; */
    justify-content: space-evenly;
    align-items: center;
    display: flex;


}

.A{
    width: 100px;
    height: 50px  ;
    border: 5px solid #000;
    background-color: rgb(156, 188, 199);
    /* display: inline-block;
    margin-right: 100px ; */
   
     color: rgb(8, 8, 220);
     font-size: xx-large;
     font-weight: 900;
     /* display: inline-block; */
}
 
 

