body{
    background: bisque;
}

.main{
    background-color: antiquewhite;
    
}

#card{
    /* background-color: cornsilk; */
    width: 500px;
    height: 300px;

    
}

#card p {
    color:rgb(23, 201, 153);
    background-color: rgb(234, 226, 230);

    border: 4px groove rgb(25, 129, 166);
    height: 230px;
    overflow: auto;
}

#clickbtn{
    background-color: rgb(63, 224, 133);
    border: 2px solid rgb(180, 241, 197);
    border-color: green;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px  1px  1px gray;
}
#clickbtn:hover{
    background-color: white;
    color: green;
}

#clickbtn:active{
    background-color: green;
    color: white;
}
.color{
    color:rgb(23, 201, 153);
    background-color: rgb(234, 226, 230);

    border: 4px groove rgb(25, 129, 166);
    height: 100px;
    overflow: auto;
    width: 500px;
    /* border: 1px; */

    

}

#mybutton
{
    background-color: rgb(63, 224, 133);
    border: 2px solid rgb(180, 241, 197);
    border-color: green;
    border-style: dashed;
    border-width: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px  1px  1px gray;

}